@charset "utf-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid brown; */
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
}